# Maven
target/

# Eclipse
.classpath
.project
.settings/
.metadata/

# Tomcat
apache-tomcat-*/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local DB config - never push this to GitHub
src/main/resources/db.properties
